.stack__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1200px) {
  .stack__item {
    margin: 40px 0 0;
  }
}

@media (max-width: 450px) {
  .stack__item {
    margin: 22px 0 0;
  }
}