.news-card__text {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  padding: 0;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
  word-wrap: break-word;
}

@media (max-width: 768px) {
  .news-card__text {
    -webkit-line-clamp: 3;
    line-clamp: 3;
  }
}

@media (max-width: 500px) {
  .news-card__text {
    -webkit-line-clamp: 4;
    line-clamp: 4;
  }
}