.info__pic img {
  display: block;
  max-width: 27.6vw;
  border-radius: 50%;
  margin-right: 56px;
  object-fit: cover;
  align-self: center;
}

@media (max-width: 900px) {
  .info__pic img {
    max-width: 30vw;
    margin-right: 32px;
    margin-bottom: 24px;
  }
}

@media (max-width: 768px) {
  .info__pic img {
    max-width: 30vw;
    margin-right: 32px;
  }
}

@media (max-width: 700px) {
  .info__pic img {
    max-width: 85vw;
    margin-bottom: 24px;
    margin-right: 0;
  }
}

@media (max-width: 450px) {
  .info__pic img {
    max-width: 90vw;
    margin-right: 24px;
    margin-left: 24px;
  }
}