@import url(./__container/search-results__container.css);
@import url(./__preloader/search-results__preloader.css);
@import url(./__negative-pic/search-results__negative-pic.css);
@import url(./__button/search-result__button.css);
@import url(./__submit/search-results__submit.css);
@import url(./__list/search-results__list.css);
@import url(./__title/search-results__title.css);
@import url(./__text/search-results__text.css);

.search-results {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
}