.search-results__analytics-link {
  display: flex;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: inherit;
  transition: opacity .3s;
  margin: 16px 0 10px;
  justify-self: self-end;
}

.search-results__analytics-link:hover {
  opacity: .6;
}

.search-results__analytics-link:after {
  content: '';
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.5856 12.0001L8.29274 17.293L9.70696 18.7072L16.4141 12.0001L9.70696 5.29297L8.29274 6.70718L13.5856 12.0001Z' fill='%231A1B22'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

@media (max-width: 620px) {
  .search-results__analytics-link {
    align-self: flex-start;
    
  }
}