.footer__nav-link {
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: inherit;
  transition: color .3s;
}

.footer__nav-link:hover {
  color: #b6bcbf;
}