@import url(./_active/navigation__link_active.css);
@import url(./_header/navigation__link_header.css);

.navigation__link {
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: inherit;
  transition: color .3s;
}

.navigation__link:hover {
  color: #b6bcbf;
}