@import url(./_analytics/section__container_analytics.css);
@import url(./_github/section__container_github.css);

.section__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 60px;
}

@media (max-width: 768px) {
  .section__container {
    margin-bottom: 22px;
  }
}

@media (max-width: 450px) {
  .section__container {
    margin-bottom: 26px;
  }
}