.glide__track {
  padding-left: 104px;
  padding-right: 104px;
  overflow: hidden; 
  position: relative;
}
.glide__track:before {
  content: '';
  width: 88px;
  height: 100%;
  background: linear-gradient(270deg, rgba(245, 246, 247, 0) 0%, #f5f6f7 100%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.glide__track:after {
  content: '';
  width: 88px;
  height: 100%;
  background: linear-gradient(90deg, rgba(245, 246, 247, 0) 0%, #f5f6f7 100%);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}