<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="Description" content="NewsAnalyzer - сервис поиска новостей по ключевому слову или фразе с аналитикой по частоте публикаций."/>
  <meta name="author" content="Бояркин Евгений>">
  <title>NewsAnalyzer. About</title>
  <link rel="shortcut icon" href="<%=require('./images/favico.svg').default%>">
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css %>">
  <script src="<%= htmlWebpackPlugin.files.js %>" defer></script>
</head>
<body>
  <div class="root">
    <header class="header">

      <!-- Навигация по сайту / -->
      <div class="header__nav container container_centered">
        <p class="logo ">NewsAnalyzer</p>
        <nav>
          <ul class="header__nav-items">
            <li class="header__nav-item">
              <a href="./index.html" class="header__nav-link header__nav-link_inactive">Главная</a>
            </li>
            <li class="header__nav-item">
              <a href="./about.html" class="header__nav-link header__nav-link_active">О&nbsp;проекте</a>
            </li>
          </ul>
        </nav>
      </div>
      <!-- / Навигация по сайту -->

      <div class="selector"></div>
  </header>
    <main class="main">

      <!-- О проекте / -->
      <section class="info section container container_centered">
        <div class="info__paragraph">
          <h2 class="section__title">Клиентам</h2>
          <p class="info__text">Этот сайт — дипломный проект студента Яндекс.Практикума. Его цель — показать, чему научился студент, какими технологиями владеет.</p>
          <p class="info__text">Вёрстка сайта выполнена по методологии БЭМ. Это делает сайт гибким и масштабируемым. Кроме того, добавлять новые страницы и функциональность проще и быстрее, чем в проектах, выполненных по другим методологиям. Также сайт проще и дешевле поддерживать.</p>
          <p class="info__text">Крточки с новостями приходят с сервера и обрабатываются асинхронно. То есть сайт продолжает работать, пока от сервера приходит ответ. Это повышает удобство использования сервиса.</p>
          <p class="info__text">При создании проекта была использована сборка технологией Webpack. Это современный подход к разработке сайтов. Код оптимизируется, а значит, сайт работает быстрее. Также сайт работает в старых браузерах. Даже если посетители — пользователи старых операционных систем, у них не будет проблем с отображением. А значит, потенциальная аудитория возрастает.</p>
          <p class="info__text">Проект был проверен экспертами Яндекс.Практикума. Если вашему бизнесу нужен сайт, мы рекомендуем обратиться к этому студенту.</p>
        </div>
      </section>
      <!-- / О проекте -->

      <!-- Стэк технолигий / -->
      <section class="stack section section_colored">
        <div class="stack__container container container_left-shift">
          <h2 class="section__title">Используемые технологии</h2>
          <div class="stack__items">
            <figure class="stack__item">
              <figcaption class="stack__name">HTML</figcaption>
              <img src="<%=require('./images/html5.svg').default%>" alt="HTML5 Logo" title="HTML5" class="stack__logo">
            </figure>
            <figure class="stack__item">
              <figcaption class="stack__name">CSS</figcaption>
              <img src="<%=require('./images/css3.svg').default%>" alt="CSS3 Logo" title="CSS3" class="stack__logo">
            </figure>
            <figure class="stack__item">
              <figcaption class="stack__name">Java&nbsp;Script</figcaption>
              <img src="<%=require('./images/js.svg').default%>" alt="Java Script Logo" title="Java Script" class="stack__logo">
            </figure>
            <figure class="stack__item">
              <figcaption class="stack__name">Webpack</figcaption>
              <img src="<%=require('./images/webpack.svg').default%>" alt="Webpack Logo" title="Webpack" class="stack__logo">
            </figure>
          </div>
        </div>
      </section>
      <!-- / Стэк технолигий -->

      <!-- Секция об авторе / -->
      <section class="info section container container_left-shift">

        <picture class="info__pic">
          <source srcset="<%=require('./images/author_about.jpg').default%>" type="image/jpg" media="(min-width: 768px)">
          <source srcset="<%=require('./images/author_about205.jpg').default%>" type="image/jpg" media="(max-width: 768px)">
          <source srcset="<%=require('./images/author_about240.jpg').default%>" type="image/jpg" media="(max-width: 425px)">
          <source srcset="<%=require('./images/author_about275.jpg').default%>" type="image/jpg" media="(max-width: 320px)">
          <img src="<%=require('./images/author_about.jpg').default%>" alt="Аватар пользователя">
        </picture>

        <div class="info__paragraph">
          <h2 class="section__title">Об авторе</h2>
          <p class="info__text-author info__text-author_mobile">
            В своей жизни я овладел навыками дизайнера, верстальщика, видеографа и немного фотографа. Эти профессии требуют творческого подхода и понимания визуального равновесия. И конечно я использую свои знания во frontend-разработке. Они помогают мне мыслить шире.
          </p>
          <p class="info__text-author info__text-author_mobile">
            А Яндекс.Практикум научил меня решать разнообразные задачи на современных, актуальных в данный момент технологиях.
          </p>
        </div>
      </section>
      <!-- / Секция об авторе -->

      <!-- Коммиты с гитхаба / -->
      <section class="github section section_colored">
        <div class="section__container section__container_github container container_centered">
          <h3 class="section__title section__title_width">История коммитов из&nbsp;GitHub</h3>
            <a href="https://github.com/boyarkinev" target="_blank" class="github__link">
              <span class="github__link-text">Открыть&nbsp;в&nbsp;Github</span>
              <img src="data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.5856 12.0001L8.29274 17.293L9.70696 18.7072L16.4141 12.0001L9.70696 5.29297L8.29274 6.70718L13.5856 12.0001Z' fill='%231A1B22'/%3E%3C/svg%3E%0A" alt="Стрелка" class="github__link-arrow">
            </a>
        </div>

        <section id="negative-search-message" class="search-results section section_colored hide">
          <div class="search-results__container">
            <figure class="search-results__negative-pic"></figure>
            <h3 id="negative-answer-header" class="search-results__title">Ничего не найдено</h3>
            <p id="negative-answer-text" class="search-results__text">К сожалению, по вашему запросу ничего не найдено.</p>
          </div>
        </section>
        
        <div class="slider">
          <div class="slider__container">
            <div id="slider-wrapper" class="slider__wrapper">
              <!-- Шаблон карточки /-->
              <template id="commit-card-template">
                <div class="commit-card slider__slide">
                  <p class="commit-card__date"></p>
                  <div class="commit-card__header">
                    <img src="#" alt="Userpic" class="commit-card__userpic">
                    <div class="commit-card__person">
                      <h3 class="commit-card__usename"></h3>
                      <p class="commit-card__email"></p>
                    </div>
                  </div>
                  <p class="commit-card__text"></p>
                </div>
              </template>
              <!--/ Шаблон карточки -->
            </div> 
            <div class="slider__pagination"></div>
            <div class="slider__button slider__button_prev"></div>
            <div class="slider__button slider__button_next"></div>
          </div>
        </div>
        <a href="https://github.com/boyarkinev" target="_blank" class="github__button" rel="noopener">Открыть в GitHub</a>
      </section>
      <!-- / Коммиты с гитхаба -->

    </main>

    <footer class="footer container container_centered">

      <div class="footer__container">

        <p class="footer__copyright">©&nbsp;2020&nbsp;Евгений&nbsp;Бояркин</p>
        
        <!-- Навигация по сайту / -->
        <nav class="footer__nav">
          <ul class="footer__nav-items">
            <li class="footer__nav-item">
              <a href="./index.html" class="footer__nav-link">Главная</a>
            </li>
            <li class="footer__nav-item">
              <a href="./about.html" class="footer__nav-link">О&nbsp;проекте</a>
            </li>
            <li class="footer__nav-item">
              <a href="https://praktikum.yandex.ru/" class="footer__nav-link" target="_blank" rel="noopener">Яндекс.Практикум</a>
            </li>
          </ul>
        </nav>
        <!-- / Навигация по сайту -->
  
        <!-- Ссылки на соцсети / -->
        <ul class="social">
          <li class="social__item">
            <a href="https://github.com/boyarkinev" class="social__ico social__ico_github" target="_blank" rel="noopener" title="GitHub"></a>
          </li>
          <li class="social__item">
            <a href="https://www.facebook.com/boyarkinev" class="social__ico social__ico_fb" target="_blank" rel="noopener" title="Facbook"></a>
          </li>
        </ul>
        <!-- / Ссылки на соцсети -->

      </div>

    </footer>
  </div>
</body>
</html>