<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="Description" content="NewsAnalyzer - сервис поиска новостей по ключевому слову или фразе с аналитикой по частоте публикаций."/>
  <meta name="author" content="Бояркин Евгений>">
  <title>NewsAnalyzer. Analytics</title>
  <link rel="shortcut icon" href="<%=require('./images/favico.svg').default%>">
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css %>">
  <script type="module" src="<%= htmlWebpackPlugin.files.js %>" defer></script>
</head>
<body>
  <div class="root">
    <header class="header">

      <!-- Навигация по сайту / -->
      <div class="header__nav container container_centered">
        <p class="logo ">NewsAnalyzer</p>
        <nav>
          <ul class="header__nav-items">
            <li class="header__nav-item">
              <a href="./index.html" class="header__nav-link header__nav-link_inactive">Главная</a>
            </li>
            <li class="header__nav-item">
              <a href="./about.html" class="header__nav-link header__nav-link_inactive">О&nbsp;проекте</a>
            </li>
          </ul>
        </nav>
      </div>
      <!-- / Навигация по сайту -->

      <div class="selector"></div>

      <!-- Хлебные крошки / -->
      <div class="breadcrumbs container container_centered">
        <ol itemscope itemtype="http://schema.org/BreadcrumbList" class="breadcrumbs__items">
          <li itemprop="itemListElement" itemscope 
              itemtype="http://schema.org/ListItem" class="breadcrumbs__item">
            <a itemprop="item" href="./index.html" class="breadcrumbs__link"><span itemprop="name">Главная</span></a>
            <meta itemprop="position" content="1">
          </li>
          <li itemprop="itemListElement" itemscope
              itemtype="http://schema.org/ListItem" class="">
            <span itemprop="name" class="breadcrumbs__link breadcrumbs__link_off">Аналитика</span>
            <meta itemprop="item" content="./analytics.html" />
            <meta itemprop="position" content="2" />
          </li>
        </ol>
      </div>
      <!-- / Хлебные крошки -->

    </header>

    <main id="statistic" class="main">

      <!-- Результаты поиска/ -->
      <section class="result section container container_centered">
        <h2 class="section__title">Вы спросили: «<span id="request-header"></span>»</h2>
        <p class="result__text">Новостей за неделю: <span id="news-per-week" class="result__text_bold"></span></p>
        <p class="result__text">Упоминаний в заголовках: <span id="header-counter"  class="result__text_bold"></span></p>
      </section>
      <!-- / Результаты поиска -->

      <!-- Диаграмма / -->
      <section class="diagram section section_colored">
        <div class="container container_centered">
          <div class="diagram__container">
            <h3 class="diagram__title">Аналитика по дням</h3>
            <div class="diagram__columns">
              <p class="diagram__column-title">Дата <span id="month" >(август)</span></p>
              <p class="diagram__column-title">Кол-во упоминаний</p>
            </div>
            <div class="selector"></div>
            <ol class="diagram__scale">
              <li class="diagram__column-title">0</li>
              <li class="diagram__column-title">25</li>
              <li class="diagram__column-title">50</li>
              <li class="diagram__column-title">75</li>
              <li class="diagram__column-title">100</li>
            </ol>
            <ol class="diagram__days">
              
            </ol>
            <ul class="diagram__scale">
              <li class="diagram__column-title">0</li>
              <li class="diagram__column-title">25</li>
              <li class="diagram__column-title">50</li>
              <li class="diagram__column-title">75</li>
              <li class="diagram__column-title">100</li>
            </ul>
          </div>
        </div>
      </section>
      <!-- / Диаграмма -->
    </main>

    <footer class="footer container container_centered">

      <div class="footer__container">

        <p class="footer__copyright">©&nbsp;2020&nbsp;Евгений&nbsp;Бояркин</p>
        
        <!-- Навигация по сайту / -->
        <nav class="footer__nav">
          <ul class="footer__nav-items">
            <li class="footer__nav-item">
              <a href="./index.html" class="footer__nav-link">Главная</a>
            </li>
            <li class="footer__nav-item">
              <a href="./about.html" class="footer__nav-link">О&nbsp;проекте</a>
            </li>
            <li class="footer__nav-item">
              <a href="https://praktikum.yandex.ru/" class="footer__nav-link" target="_blank" rel="noopener">Яндекс.Практикум</a>
            </li>
          </ul>
        </nav>
        <!-- / Навигация по сайту -->
  
        <!-- Ссылки на соцсети / -->
        <ul class="social">
          <li class="social__item">
            <a href="https://github.com/boyarkinev" class="social__ico social__ico_github" target="_blank" rel="noopener"></a>
          </li>
          <li class="social__item">
            <a href="https://www.facebook.com/boyarkinev" class="social__ico social__ico_fb" target="_blank" rel="noopener"></a>
          </li>
        </ul>
        <!-- / Ссылки на соцсети -->

      </div>

    </footer>
  </div>
</body>
</html>