<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="Description"
    content="NewsAnalyzer - сервис поиска новостей по ключевому слову или фразе с аналитикой по частоте публикаций." />
  <meta name="author" content="Бояркин Евгений>">
  <title>NewsAnalyzer</title>
  <link rel="shortcut icon" href="<%=require('./images/favico.svg').default%>">
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css %>">
  <script type="module" src="<%= htmlWebpackPlugin.files.js %>" defer></script>
</head>

<body>
  <section class="root">
    <header class="header header_background header_white-text">

      <!-- Навигация по сайту / -->
      <div class="header__nav container container_centered">
        <p class="logo">NewsAnalyzer</p>
        <nav>
          <ul class="header__nav-items">
            <li class="header__nav-item">
              <a href="./index.html" class="header__nav-link header__nav-link_active">Главная</a>
            </li>
            <li class="header__nav-item">
              <a href="./about.html" class="header__nav-link header__nav-link_inactive">О&nbsp;проекте</a>
            </li>
          </ul>
        </nav>
      </div>
      <!-- / Навигация по сайту -->

      <div class="selector"></div>

      <!-- Поисковая форма / -->
      <div class="search">
        <div class="search__container section">
          <h1 class="main-title">Что в мире творится?</h1>
          <p class="search__lead">Введите в поиске любую тему и узнайте, насколько популярной она была в новостях за прошедшую неделю.</p>
          <form class="search__elements" id="search-form" novalidate>
            <input type="text" id="search-input" class="search__input" placeholder="Введите тему новости" minlength="2" maxlength="30">
            <button type="submit" id="search-button" class="button button_blue">Искать</button>
            <span id="alert" class="alert-message"></span>
          </form>
        </div>
      </div>
      <!-- / Поисковая форма -->

    </header>

    <main class="main">

      <section id="preloader" class="search-results section section_colored hide">
        <div class="search-results__container">
          <i class="search-results__preloader"></i>
          <p class="search-results__text">Идет поиск новостей...</p>
        </div>
      </section>

      <section id="negative-search-message" class="search-results section section_colored hide">
        <div class="search-results__container">
          <figure class="search-results__negative-pic"></figure>
          <h3 class="search-results__title">Ничего не найдено</h3>
          <p class="search-results__text">К сожалению, по вашему запросу ничего не найдено.</p>
        </div>
      </section>

      <!-- Результат поиска / -->
      
      <section id="search-section" class="search-results section section_colored hide">

        <div class="search-results__container container container_centered">
          <div class="section__container section__container_analytics ">
            <h2 class="section__title">Результаты поиска</h2>
            <a href="./analytics.html" class="search-results__analytics-link">
              Посмотреть&nbsp;аналитику</a>
          </div>

          <ul class="search-results__list">
            
          </ul>
          
          <button type="submit" id="show-else" class="button button_white">Показать еще</button>
        </div>
      </section>
      <!-- / Результат поиска -->

      <!-- Об авторе / -->
      <section class="info section container container_left-shift">

        <picture class="info__pic">
          <source srcset="<%=require('./images/author.jpg').default%>" type="image/jpg" media="(min-width: 768px)">
          <source srcset="<%=require('./images/author205.jpg').default%>" type="image/jpg" media="(max-width: 768px)">
          <source srcset="<%=require('./images/author240.jpg').default%>" type="image/jpg" media="(max-width: 425px)">
          <source srcset="<%=require('./images/author275.jpg').default%>" type="image/jpg" media="(max-width: 320px)">
          <img src="<%=require('./images/author.jpg').default%>" alt="Аватар пользователя">
        </picture>
          
        <div class="info__paragraph">
          <h2 class="section__title">Об авторе</h2>
          <p class="info__text-author info__text-author_mobile">
            Привет!
          </p>
          <p class="info__text-author info__text-author_mobile">
            Меня зовут Евгений Бояркин, и это мой дипломный проект в рамках обучения на образовательной платформе
            Яндекс.Практикум.
          </p>
          <p class="info__text-author info__text-author_mobile">
            Здесь я применяю навыки HTML и CSS верстки, использую JavaScript для управления элементами, обращаюсь к API
            и получаю данных с сервера. Проект собран при помощи библиотек Webpack и размещен на GitHub.
          </p>
          <p class="info__text-author info__text-author_mobile">
            В течение семи месяцев я осваивал профессию frontend-разработчика. Разбирался в кроссбраузерной
            семантической верстке, адаптивном дизайне, объектно-ориентированном программировании. Учился понимать язык
            браузеров и делать код красивым. И для меня важна не только внешняя красота, но и внутренняя эстетика!
          </p>
        </div>
      </section>
      <!-- / Об авторе -->

    </main>

    <footer class="footer container container_centered">

      <div class="footer__container">

        <p class="footer__copyright">©&nbsp;2020&nbsp;Евгений&nbsp;Бояркин</p>

        <!-- Навигация по сайту / -->
        <nav class="footer__nav">
          <ul class="footer__nav-items">
            <li class="footer__nav-item">
              <a href="./index.html" class="footer__nav-link">Главная</a>
            </li>
            <li class="footer__nav-item">
              <a href="./about.html" class="footer__nav-link">О&nbsp;проекте</a>
            </li>
            <li class="footer__nav-item">
              <a href="https://praktikum.yandex.ru/" class="footer__nav-link" target="_blank">Яндекс.Практикум</a>
            </li>
          </ul>
        </nav>
        <!-- / Навигация по сайту -->

        <!-- Ссылки на соцсети / -->
        <ul class="social">
          <li class="social__item">
            <a href="https://github.com/boyarkinev" class="social__ico social__ico_github" target="_blank" rel="noopener"></a>
          </li>
          <li class="social__item">
            <a href="https://www.facebook.com/boyarkinev" class="social__ico social__ico_fb" target="_blank" rel="noopener"></a>
          </li>
        </ul>
        <!-- / Ссылки на соцсети -->

      </div>

    </footer>

    <!-- Темплейт карточки / -->
    <template id="news-card-template">
      <li class="news-card">
        <a href="#" target="_blank" class="news-card__link">
          <figure class="news-card__cover">
            <div class="news-card__image"></div>
          </figure>
          <div class="news-card__description">
            <p class="news-card__date"></p>
            <div class="news-card__paragraph">
              <h3 class="news-card__title"></h3>
              <p class="news-card__text"></p>
            </div>
            <p class="news-card__source"></p>
          </div>
        </a>
      </li>
    </template>
    <!-- / Темплейт карточки -->

  </section>
</body>

</html>